*{
    padding: 0;
    margin: 0;
}
nav {
    position: fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
}

.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;

}

ul {
    position: relative;
    float: right;
    margin-right: 20px;
}

ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    /* padding: 7px 13px;
    border-radius: 3px;
    transition: .3s; */
}

.main_img {
    width: 100%;
    height: 300px;
}

.section1 {
    padding-top: 70px;
}

.img_text {
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    background-color: midnightblue;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 35px;

}

.welcome_img {
    width: 100%;
    height: 250px;
}

.container {
    padding-top: 40px;
}

.col-md-8 p {
    text-align: justify;
    padding-top: 10px;
}

.adm {
    padding-top: 30px;
    padding-bottom: 0;
}
.teacher {
    width: 90%;
    height: 200px;
}

.col-md-4 p {
    padding-top: 10px;
    width: 90%;
    text-align: justify;
    margin: 0 auto; 
}

.admission_form {
    padding-top: 20px;
}

.adm_int {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label_text {
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

.input_deg {
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid blue;
    padding: 0 15px;
}

.input_txt {
    width: 30%;
    height: 100px;
    border-radius: 15px;
    border: 1px solid blue;
    padding: 10px 15px;
    resize: none;
}

#submit {
    position: relative;
    width: 15%;
    left: 0;  
    margin: 0 auto;  
    display: block; 
    margin-top: 10px;
}

.footer_dvd {
    width: 100%;
    height: 10px; 
    background-color: skyblue;  
    margin-top: 50px;  
    margin-bottom: 0;  
    padding-bottom: 0;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

footer {
    background-color: black;
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;  
    align-items: center;  
    justify-content: center; 
}

.footer_txt {
    color: white;
    text-align: center;
    line-height: 70px;
    position: relative;
    margin: 0;
}

